.DS_Store
node_modules/
.npm-cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build/output
build/
dist/

# Cache
.npm-cache/

# TypeScript
*.tsbuildinfo

# IDEs/editors
.idea/
.vscode/
